.footer {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef; /* #2ba6cb; */
  text-align: center;
}

.red{color:red;}
.border{border: 1px solid red; padding:15px;}
.border-black{border: 1px solid black; padding:15px;}



/* ---------------------Preloader, located in index.php, hidden by default */
#overlay {
	position:absolute;
	top:16%;
	display:none;
}

#overlay img {
	width:33%;
  }

/* Mobile */
@media screen and (max-width: 460px) {   
  #overlay {
	position:absolute;
	top:37%; display:none;
  }
  
  #overlay img {
	width:70%;
  }
}
/* END Mobile */
/* END --------------------Preloader, located in index.php, hidden by default */




/* Close cog */
.close-it{position:absolute; top:0px; right:0px;color:black;}
.close-it:hover{cursor:pointer; color:red;}


/* Class that sets background-image */
.head-style{
	color:white;
	background-color:lavender;padding:10px;
	background-image: url('../images/bg-pattern.jpg');
	text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
}

/*
https://i.pinimg.com/originals/08/58/d6/0858d6df28c34239fe8e0077e19be750.png  cash
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQvp8gXVXK0Vb7ctlANuwugGW13OTnAWqriztJUGoBRXd0CXK8    blue
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfDxrC1c4GaaJmBlciFeUZ8bsHheWefJXbGiUOFYOnXR5oGrVhAg  steel
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScJTFmh8ur7hPYFn543z7OnYh1Kv3d51AQWWFiPDjJH8Bm7O3K    blue 2

*/









.myShadow{
    box-shadow: 10px 10px 5px grey;
}
 
.textShadow{ 
    color: white; 
	/* text-shadow: black 0.2em 0.1em 0.2em; */
	text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;	 
} 